body
{
    padding-right: 0%;
    margin-right: 0%;
    background-color: #ff4c68;
    padding-bottom: 50px;
}

h3
{
    font-family: 'Montserrat Regular 400', sans-serif;
}
h2
{
    font-family: 'Montserrat Regular 400', sans-serif;
}

p{
    font-family: 'Montserrat Thin 100', sans-serif;
}
/*i:hover
{
    color: #ff4c68;
}*/

@media (max-width:900px)
{
   .desc .image
    {
        position: static;
        transform: rotate(0deg);
    }
    .heading
    {
        text-align: center;
    }

    
}




#pricing
{
    padding: 50px;

}
.pricing-card
{
    padding: 3% 2%;

}
#title
{
    
    color: white;
    background-color: #ff4c68;
    /*padding-bottom: 50px;*/
    padding-top: 10px;
    line-height: 1.5;
    font-size: 1.5rem;
}
.desc
{
    padding-top: 40px;
    /*padding-bottom: 20px;*/
    line-height: 1.5;
    font-size: 1.5rem;
    font-family: 'Montserrat Black 900', sans-serif;
}
#features
{
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: white;
    line-height: 1.5;
    font-size: 1.5rem;

}
#testimonials
{
    background-color: #ff4c68;
    color: white;
    font-family:'Montserrat-bold';
    text-align: center;
    
   
    padding-top: 3%;
    

    
    


}


.carousel-item
{
    padding :7%,15%;

}
#press
{
    
    background-color:#ff4c68;
    padding: 7%,15%;
    padding-top: 10%;
    text-align: center;
    padding-bottom: 3%;
    
}
.pressimg
{
    width: 15%;
    padding: 20px 20px 50px;
    
}

#cta
{
    background-color:#ff4c68;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 10px;
    line-height: 1.5;              /*a.category_item p:hover*/
    font-size: 1.5rem;
    color: white;
    
}
#footer
{
    /*ff4c68*/
    
    padding-bottom: 1px;
    padding-left: 10px;
    padding-top: 5px;
    line-height: 1.5;
    text-align: center;
  

}
a:hover
{
    color: #ff4c68;

}


.navbar-nav > li{
    padding-left:50px;
    padding-right:50px;

  }