/*tags css*/
body
{
    background-color:hsl(217, 54%, 11%);
    height: 1440px;
    width: 1440px;
    border-radius: 8px;
}

h2
{
    text-align: left;
    font-family: 'Outfit', sans-serif;
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    
}

hr 
{
    
    border-bottom: none;
    position: relative;
    width: 100px;
    padding-left: 100px;
    border-color: hsl(215, 51%, 70%);
    margin-top: 30px;
    border-radius: 2px;
    

}
span
{
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
}

/*class css*/
.card
{
    background-color: hsl(216, 50%, 16%);
    height:540px;
    width:300px;
    /*border-style: outset;
    border-width: 5px;
    border-color:  hsl(216, 52%, 20%); used to display it coming out of the page*/
    /*border-style: inset;
    border-width: 5px;
    border-color:  hsl(216, 52%, 20%); used to display it into out of the page*/
    border-radius: 8px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

}
.equilibrium
{
    height: 250px;
    width: 250px;
    border-radius: 8px;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 25px;
}
.heading 
{
   margin-left: 25px; 

}

.desc
{
    text-align: center;
    font-size: 15px;
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
    display: inline;
    
    
    
}

.info
{
  margin-left: 25px;  
  margin-top: 30px; 
  
  
  
}

.ethe
{
    float: left;
    margin-right: 10px ;
    
}

.ethe1
{
    color: hsl(178, 100%, 50%);
    font-family:'Outfit', sans-serif;;
    font-size: 14px;
    font-weight: 600;
    float: left;
    margin-top:2px;
    padding-right: 75px;
}

.clock
{
    float: left;
    margin-right: 10px ;
    

}

.clock1
{
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
    margin-top: 2px;
    font-size: 14px;


}
.avatar
{
    height: 30px;
    width: 30px;
    float: left;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 20px;
   

}

.ded
{
  padding-left: 5px;
  padding-top: 15px;  
  color: white;
  font-size: 15px;
  font-family: 'Outfit', sans-serif;


}